@import "./fonts.scss";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--montserrat);
}

html:root {
  --white_900: #ffffff;
  --purple_900: #190019;
  --purple_200: #83305c;
  --purple_100: #864f6c;
}

html:root {
  --garamond: Garamond;
  --garamond-bold: Garamond-Bold;
  --montserrat: Montserrat;
  --montserrat-bold: Montserrat-Bold;
}
