.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;

  .modalContent {
    max-width: 500px;
    width: 100%;
    height: 500px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    background-color: rgb(172, 172, 172);

    p {
      margin: 0;
    }
  }
}
