.usersTable {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0 auto;

  .userItem {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
  }

  .btnsContainer {
    display: flex;
    column-gap: 5px;

    .actionBtn {
      background: inherit;
      border: 1px solid black;
      border-radius: 5px;
      display: flex;
      flex-direction: center;
      align-items: center;
      cursor: pointer;
      padding: 5px 10px;
    }
  }
}
